# Binaries for programs and plugins
cmd/tinnitus
cmd/sandbox
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Ctags
.tags

# Neovim temporary files
*.swp
*.swo
*.swn
*~

# Local files
config.yaml
tinnitus.log
